body, html{
    height: 100vh;
    margin: 0%;
    width: 100%;
    /*background-color:*/ ;
}

.sub-header{
    margin-left: 20px;
    text-decoration: underline;
    font-family: "Roboto Slab";
}

.main-text{
    margin-left: 20px;
}

.mainbtn{
    background-color: #d633ff;
    color: #f2f2f2;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    width: 10rem;
}

.mainbtn:hover{
    background-color: #f0b3ff;
    color: black;
    cursor: pointer;
}

/*I want to add a background colour to the Navigation bar*/
.topnav{
    background-color: #d633ff;
    overflow: hidden;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0; 
}

/*I want to style the links in the Navigation bar*/
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /*Can be used to remove any decorations from the text. */
    font-size: 17px;
    z-index: auto;
}

/*How to change link colour on hover.*/
.topnav a:hover{
    background-color: #f0b3ff;
    color: black;
    cursor: pointer;
}

/*Add a colour for the current/active link.*/
.topnav a.active{
    background-color: #660080;
    color: white;
}

/*How to style the hero image*/
.hero-image{
    /*I'll use a ".linear-gradient" to add a darken background effect to the image, which will make the text easier to read.*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/Osaka.jpeg);
    /*Next, I want to set the image to a specific height.*/
    height: 50%;
    /*Now, I want to position and center the image, so it scales nicely on all screens.*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*Now I want to center my hero-text onto my background-image.*/
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
}

.my-photo{
    /*The first 3 lines center my image on the webpage.*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 50%; 
}

#about{
    height: 300px;
    scroll-behavior: smooth;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.card{ /*Adding CSS to my HTML card*/
    /*First, I'll add shadows to create a card effect.*/
    box-shadow: 0 8px 16px 0 rgba(67, 62, 62, 0.2);/*Adds shadow effects around and element's frames.*/
    transition: 0.3s;
    padding: 16px 16px; /*Create some space between the img and the edges of the card.*/
    border-radius: 5px;
    width: 300px;
    margin-top: 25px;
    background-color: #f2f2f2;
}

.card p, h4{
    text-align: center;
}

.card:hover{
    box-shadow: 0 20px 32px 0 rgba(41, 38, 38, 0.2);
}

.card-img{
    border-radius: 5px; /*This is how to round the corners of the img.*/
}

p, li{
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
}

.divider {
    border-bottom: 1px solid #888989;
    margin: 2px 0;
}

.medium{
    height: 5px;
    background-color: #f0b3ff;
    border: 0;
}